<p style="color: green"><%= notice %></p>

<h1>Ideas</h1>
<%= link_to "新規投稿", new_idea_path, class: "btn btn-primary mb-3" %>

<div class="list-group w-auto">
  <% @ideas.each do |idea| %>
    <%= render idea %>
  <% end %>
</div>
